<div>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/admin/createCategory" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label>Title</label>
                            <input type="text" name="title" id="title" class="form-control" />
                        </div>
                        <div class="col-12 mt-2">
                            <label>Description</label>
                            <textarea name="description" class="form-control"></textarea>
                        </div>

                        <div class="col-12 mt-2">
                            <label>Category</label>
                            <select name="parentId" class="form-control">
                                <option value="">Select Product Category</option>
                                <% for(let index=0; index < categories.length; index++){ let
                                    singleCat=categories[index]; %>
                                    <option value="<%= singleCat.id; %>"><%= singleCat.title; %>
                                    </option>
                                    <% } %>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">update category</button>
                    <a href="/admin/product" class="btn btn-danger">close</a>
                </div>
            </form>
        </div>
    </div>
</div>