<div class="main-content">
    <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <h3>All User</h3>
                        </div>
                        <div class="col-6 text text-right">
                            <a href="/admin/addUser"type="button" data-toggle="modal" data-target="#createProductModal"
                            class="btn btn-info" style="margin-left: 480px;">Add New</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <table class="table table-bordered table-light">
                        <thead>
                            <tr>
                                <th>User ID</th>
                                <th>firstName</th>
                                <th>lastName</th>
                                <th>contact</th>
                                <th>email</th>
                                <th>address</th>
                                <th>lendMark</th>
                                <th>City</th>
                                <th>pincode</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>